Olá,<strong> {{ student }} </strong>
<p>Você foi matriculado na Gympoint Academia:</p>
Data da matrícula: <strong>{{ date }} </strong><br />
Plano contratado: <strong>{{ plan }} </strong><br />
Duração: <strong> {{ duration }} </strong> meses, com valor de R$ <strong>{{value}} </strong><br />
<br />
<small>
  Agradecemos pela preferência.
</small>
